body {
  direction: rtl;
  unicode-bidi: embed; }

ul, ol {
  padding: 0 24px 0 0; }

blockquote {
  border-left: none;
  border-right: 2px solid #b7a85c; }

.not-found {
  margin: 0 72px 24px 24px;
  background-color: #151515; }
  @media screen and (min-width: 800px) {
    .not-found {
      padding: 0 300px 0 0; } }
  @media screen and (min-width: 1100px) {
    .not-found {
      padding: 0 550px 0 0; } }
  @media screen and (min-width: 800px) {
    .not-found {
      margin: 0 24px 24px; } }

.archive-header {
  margin: 0 72px 0 24px; }
  @media screen and (min-width: 800px) {
    .archive-header {
      padding: 0 300px 0 0; } }
  @media screen and (min-width: 1100px) {
    .archive-header {
      padding: 0 550px 0 0; } }
  @media screen and (min-width: 800px) {
    .archive-header {
      margin: 0 24px;
      border-bottom: none; } }

.comments-area {
  margin: 0 72px 0 24px;
  background-color: #151515; }
  @media screen and (min-width: 800px) {
    .comments-area {
      padding: 0 300px 0 0; } }
  @media screen and (min-width: 1100px) {
    .comments-area {
      padding: 0 550px 0 0; } }
  @media screen and (min-width: 800px) {
    .comments-area {
      margin: 0 24px; } }
  .comments-area .comment-list,
  .comments-area .children {
    padding: 0;
    list-style: none; }
  @media screen and (min-width: 800px) {
    .comments-area .children {
      padding-right: 48px; } }

@media screen and (min-width: 800px) {
  .entry-inner {
    padding: 0 300px 0 0; } }
@media screen and (min-width: 1100px) {
  .entry-inner {
    padding: 0 550px 0 0; } }

.has-post-thumbnail {
  position: relative; }
  .has-post-thumbnail .entry-inner {
    padding: 0 24px 24px; }
    .single .has-post-thumbnail .entry-inner {
      border-bottom: none; }
    @media screen and (min-width: 800px) {
      .has-post-thumbnail .entry-inner {
        position: absolute;
        bottom: 10%;
        right: 20%;
        width: 65%;
        border-bottom: 4px solid #b7a85c; }
        .single .has-post-thumbnail .entry-inner {
          position: static;
          width: 75%; } }
    @media screen and (min-width: 800px) and (min-width: 800px) {
      .single .has-post-thumbnail .entry-inner {
        padding: 0 300px 0 0; } }
    @media screen and (min-width: 800px) and (min-width: 1100px) {
      .single .has-post-thumbnail .entry-inner {
        padding: 0 550px 0 0; } }

.site-info {
  text-align: center; }
  @media screen and (min-width: 800px) {
    .site-info {
      text-align: left; } }

@media screen and (min-width: 800px) {
  .site-header {
    padding: 0 300px 0 0; } }
@media screen and (min-width: 1100px) {
  .site-header {
    padding: 0 550px 0 0; } }

.site-title,
.site-description {
  text-align: left; }

.navigation {
  margin: 0 72px 0 24px; }
  @media screen and (min-width: 800px) {
    .navigation {
      padding: 0 300px 0 0; } }
  @media screen and (min-width: 1100px) {
    .navigation {
      padding: 0 550px 0 0; } }
  @media screen and (min-width: 800px) {
    .navigation {
      margin: 0 24px; } }

.nav-previous {
  text-align: center; }
  @media screen and (min-width: 800px) {
    .nav-previous {
      text-align: right; } }

.nav-next {
  text-align: center; }
  @media screen and (min-width: 800px) {
    .nav-next {
      text-align: left; } }

.panel {
  right: 0; }

.panel-toggle {
  right: 0; }
  .panel-active .panel-toggle {
    right: 75%; }
    @media screen and (min-width: 800px) {
      .panel-active .panel-toggle {
        right: 300px; } }
    @media screen and (min-width: 1100px) {
      .panel-active .panel-toggle {
        right: 550px; } }

.recent-posts {
  margin: 0 72px 0 24px; }
  @media screen and (min-width: 800px) {
    .recent-posts {
      padding: 0 300px 0 0; } }
  @media screen and (min-width: 1100px) {
    .recent-posts {
      padding: 0 550px 0 0; } }
  @media screen and (min-width: 800px) {
    .recent-posts {
      margin: 0 24px; } }

.widget-area {
  margin: 48px 72px 0 24px; }
  @media screen and (min-width: 800px) {
    .widget-area {
      padding: 0 300px 0 0; } }
  @media screen and (min-width: 1100px) {
    .widget-area {
      padding: 0 550px 0 0; } }
  @media screen and (min-width: 800px) {
    .widget-area {
      margin: 48px 24px; } }

.widget {
  position: relative; }
  .widget #next {
    text-align: left; }

.widget-title {
  padding: 0 0 0 12px; }
