.site {
	position: relative;
}

.post,
article.page {
	@include normalize_margin( 2 0 );
}

.entry-inner {
	@include left-column();
	@include normalize-margin( 0 1 0 3 );
	
	background-color: $background-color;
	
	@media #{$tablet-up} {
		@include normalize-margin( 0 1 );
	}
	
	.single & {
		width: 90%;
	}
}

.entry-thumbnail {
	height: 100%;
	
	img {
		display: block;
	}
}

.entry-title {
	@include normalize-margin( 1 0 0 );
	
	line-height: $base-line-height * 1.5;
	word-wrap: break-word;
}

.entry-meta {
	@include normalize-margin( 0 0 1 );
	
	font: italic $base-font-size $base-header-font;
	text-transform: lowercase;
	
	@media #{$tablet-up} {
		font-size: $base-font-size;
	}
	
	.meta-info {
		display: block;
	}
}

.entry-content {
	@include normalize-margin( 1 0 0 0 );
}

.entry-footer {
	@include normalize-margin( 1 0 );
}

.read-more {
	font-style: italic;
}

.has-post-thumbnail {
	position: relative;
	
	.entry-inner {
		@include normalize-padding( 0 1 1 );
		
		.single &,
		body.page & {
			border-bottom: none;
		}
		
		@media #{$tablet-up} {
			position: absolute;
			bottom: 10%;
			left: 20%;
			width: 65%;
			border-bottom: 4px solid $accent-color;
			
			.single &,
			body.page & {
				@include left-column();
				
				position: static;
				width: 90%;
			}
		}
	}
}
