body#tinymce {
	background-color: $background-color;
	color: $text-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	text-rendering: optimizeLegibility;
}