h1, h2, h3, h4, h5, h6 {
	font-family: $base-header-font;
	font-weight: 300;
	letter-spacing: -1px;
}

h1 {
  @include normalize-font-size( $h1-font-size );
	@include normalize-line-height( $h1-font-size );
	@include normalize-margin( 1 0, $h1-font-size );
}

h2 {
  @include normalize-font-size( $h2-font-size );
  @include normalize-line-height( $h2-font-size );
  @include normalize-margin( 1 0, $h2-font-size );
}

h3 {
  @include normalize-font-size( $h3-font-size );
  @include normalize-line-height( $h3-font-size );
  @include normalize-margin( 1 0, $h3-font-size );
}

h4 {
  @include normalize-font-size( $h4-font-size );
  @include normalize-line-height( $h4-font-size );
  @include normalize-margin( 1 0, $h4-font-size );
}

h5 {
  @include normalize-font-size( $h5-font-size );
  @include normalize-line-height( $h5-font-size );
  @include normalize-margin( 1 0, $h5-font-size );
}

h6 {
  @include normalize-font-size( $h6-font-size );
  @include normalize-line-height( $h6-font-size );
  @include normalize-margin( 1 0, $h6-font-size );
}